@model ChartsViewModel
<div class="container">
    <div class="mx-auto border border-1" style="max-width:80%">
        <div class="p-3">Top Issues (Past 3 months)</div>
        <div class="p-3">
            <canvas style="max-height: 400px; " id="top-issues"></canvas>
        </div>

    </div>

    <div class="mx-auto border border-1" style="max-width:80%">
        <div class="p-3">Sentiment over time (Past 3 months)</div>
        <div class="p-3">
            <canvas id="sentiment-over-time" </canvas>
        </div>
    </div>

</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js" integrity="sha512-7DgGWBKHddtgZ9Cgu8aGfJXvgcVv4SWSESomRtghob4k4orCBUTSRQ4s5SaC2Rz+OptMqNk0aHHsaUBk6fzIXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/helpers.js" integrity="sha512-08S2icXl5dFWPl8stSVyzg3W14tTISlNtJekjsQplv326QtsmbEVqL4TFBrRXTdEj8QI5izJFoVaf5KgNDDOMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/helpers.min.js" integrity="sha512-JG3S/EICkp8Lx9YhtIpzAVJ55WGnxT3T6bfiXYbjPRUoN9yu+ZM+wVLDsI/L2BWRiKjw/67d+/APw/CDn+Lm0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var barJSONData1 = [];
        var barJSONData2 = [];
        @foreach (var issue in Model.AllTimeData.TopIssues)
        {
            @:barJSONData1.push("@issue.IssueName")
        }
        @foreach (var issue in Model.AllTimeData.TopIssues)
        {
            @:barJSONData2.push(@issue.IssueCount)
        }
                                                var barChart = document.getElementById("top-issues");
        var barChartData = {
            labels: barJSONData1,
            datasets: [{
                label: 'Issue Count',
                data: barJSONData2,
            },
            ]
        };
        const chart = new Chart(barChart, {
            type: 'bar',
            data: barChartData,
            options: {
                indexAxis: 'y',
                onClick: (e) => {
                    const canvasPosition = getRelativePosition(e, chart);

                    // Substitute the appropriate scale IDs
                    const dataX = chart.scales.x.getValueForPixel(canvasPosition.x);
                    const dataY = chart.scales.y.getValueForPixel(canvasPosition.y);
                }
            }
        });

        var stackedBarChartDataJSON1 = [];
        var stackedBarChartDataJSON2 = [];
        var stackedBarChartDataJSON3 = [];
        var stackedBarChartDataJSON4 = [];
        @foreach (var item in Model.Past3MonthsEmotion.Dates)
        {
            @:stackedBarChartDataJSON1.push("@item")
        }
        @foreach (var item in Model.Past3MonthsEmotion.HappyEmotionCount)
        {
            @:stackedBarChartDataJSON2.push("@item")
        }
        @foreach (var item in Model.Past3MonthsEmotion.AngryEmotionCount)
        {
            @:stackedBarChartDataJSON3.push("@item")
        }
        @foreach (var item in Model.Past3MonthsEmotion.NeutralEmotionCount)
        {
            @:stackedBarChartDataJSON4.push("@item")
        }

        var stackedBarChart = document.getElementById("sentiment-over-time");
        var stackedBarChartData = {
            labels: stackedBarChartDataJSON1,
            datasets: [
                {
                    label: 'Positive Count',
                    data: stackedBarChartDataJSON2,
                },
                {
                    label: 'Negative Count',
                    data: stackedBarChartDataJSON3,
                },
                {
                    label: 'Neutral Count',
                    data: stackedBarChartDataJSON4,
                }
            ]
        };
        const stackedChart = new Chart(stackedBarChart, {
            type: 'bar',
            data: stackedBarChartData,
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });
    </script>
}